$pink: #e9d0c7;
$green: #d8e9d3;
$yellowish: #f1f1eb;
$orange: #f28976;
$light: #f1f1eb;
$border: #a7a7a7;

.--c-pink {
  color: $pink;
}
.--bg-pink {
  background-color: $pink;
}

.--c-green {
  color: $green;
}
.--bg-green {
  background-color: $green;
}

.--c-yellowish {
  color: $yellowish;
}
.--bg-yellowish {
  background-color: $yellowish;
}

.--c-orange {
  color: $orange;
}
.--bg-orange {
  background-color: $orange;
}

.--c-light {
  color: $light;
}
.--bg-light {
  background-color: $light;
}

.--c-border {
  color: $border;
}
.--bg-border {
  background-color: $border;
}
