.featured {
  &__text {
    min-width: 100%;
    right: -70px;
    position: absolute;
  }

  .carousel-control-next-icon {
    background-image: url("../img/home/carousel-control-next-icon.png");
  }

  .carousel-control-prev-icon {
    background-image: url("../img/home/carousel-control-prev-icon.png");
  }
}

@media (max-width: 575px) {
  .featured {
    &__text {
      position: relative;
      right: 0px;
      padding: 0px 40px;
      text-align: center !important;
    }
  }
}
