.--container-custom {
  max-width: 1500px;
  margin: 0px auto;
}

@media (max-width: 1500px) {
  .--container-custom {
    max-width: 1366px;
  }
}

@media (max-width: 1366px) {
  .--container-custom {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .--container-custom {
    max-width: 1080px;
  }
}

@media (max-width: 1080px) {
  .--container-custom {
    max-width: calc(100% - 30px);
  }
}
