.whats-inside {
  &__line-third {
    position: relative;
  }
  &__line-third::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100px;
    background: #000;
    left: 50px;
    top: -70px;
  }
  &__line-third::after {
    content: "";
    position: absolute;
    height: 1px;
    background: #000;
    left: 50px;
    top: 30px;
    width: 100%;
  }
  &__line-fourth {
    position: relative;
  }
  &__line-fourth::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 30px;
    background: #000;
    right: 50px;
    top: 30px;
  }
  &__line-fourth::after {
    content: "";
    position: absolute;
    height: 1px;
    background: #000;
    right: 50px;
    top: 30px;
    width: 100%;
  }

  &__slider .owl-dots {
    margin-top: 35px !important;
    .owl-dot {
      width: 50%;
      background: $light;
      span {
        background: inherit;
      }
    }
    .owl-dot:hover {
      span {
        background: inherit;
      }
    }
    .owl-dot.active {
      background: $orange;
      span {
        background: inherit;
      }
    }
  }
}

@media (max-width: 1000px) {
  .whats-inside {
    &__slider .owl-dots {
      .owl-dot {
        width: 33% !important;
      }
    }
  }
}

@media (max-width: 600px) {
  .whats-inside {
    &__slider .owl-dots {
      .owl-dot {
        width: 20% !important;
      }
    }
  }
}
